.container-card {
    position: relative;
    margin-top: 50px;
    border: 3px solid transparent;
    background: linear-gradient(180deg, #000000, #121014, #000000);
    background-clip: padding-box;
    border-radius: 45px;
    padding: 15px;
    
  }
  .bg-blue-box::after {
    position: absolute;
    top: 2px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    z-index: -1;
    border-radius: 45px;
    background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
  }

  .container-card1 {
    position: relative;
    margin-top: 50px;
    border: 3px solid transparent;
    background: linear-gradient( rgba(0, 38, 144, 0.204),rgba(0, 0, 0, 0));
    background-clip: padding-box;
    border-radius: 45px;
    padding: 15px;
    
  }
  .bg-blue-box1::after {
    position: absolute;
    top: 2px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    z-index: -1;
    border-radius: 45px;
    background: linear-gradient(71deg, #0c0a0e38, #20253b00, #0c0a0e00);
  }