
@font-face {
  font-family: 'dune'; /* Name you want to use for the font */
  src: url('./megtron.otf') format('truetype'); 
}

.launch-services {
  padding: 4rem 2rem;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 13, 32));
  color: white;
}
.slide-int {
  color: white;
  padding: 8px;
  font-family: dune;
  font-weight: 300;
  text-align: left;
  font-size: 5rem;
  animation: slide-in 1s ease-out forwards;
  margin-bottom: 100px;
  opacity: 0; 
  

}
.delay-1 {

  animation-delay: 0.44s;
}

.delay-2 {
  animation-delay: 0.88s;
}


@keyframes slide-int {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.services-grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.service-tile {
 
  background: rgba(25, 25, 25, 0.4); 
  color: rgb(255, 255, 255);
  padding: 1rem;
  flex: 1 1 calc(25% - 2rem);
  box-sizing: border-box;
  opacity: 0;
  animation: slide-in 0.5s forwards;
  position: relative;
  cursor: pointer;
}

.service-tile img {
  max-width: 100px;
}
.service-tile:hover { background: rgba(43, 42, 42, 0.571);  flex: 1 1 calc(26% - 2rem); border: 2px solid white; }

.service-info {
  padding: 1rem 0;
  color: white;
  display: none; 
}

.service-tile.expanded {
  position: fixed;
  top: 10%;
  left: 33%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: auto;
  z-index: 1000;
  background: linear-gradient(rgb(0, 0, 0), rgb(14, 14, 14)); 

}

.service-tile.expanded img {
  max-width: 200px;
}

.service-tile.expanded .service-info {
  display: block; 
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
